<div id="bot-ui">
  <p class="robot">
    I'm designed to answer interview questions almost like a real human would. Want to try?
  </p>
  <form id="post-question" method="POST">
    <input type="textbox" id="user-question" name="user-question" value="Tell me about yourself" size=30>
    <input type="submit" value="Submit">
  </form>

  <div id="response-ui" class="response-hidden">
    <p id="response-text" class="robot">Lorem ipsum dolor sit amet</p>
    <button>Good job! :)</button><button>Not quite :(</button>
  </div>
</div>
