<script src="assets/js/bot-interface.js"></script>

<div id="bot-ui">
  <p class="robot">
    I'm designed to answer interview questions almost like a real human would. Want to try?
  </p>
  <form id="bot-ui-form">
    <input type="textbox" id="user-question" value="Loading..." name="user-question" size=30 disabled>
    <input type="submit" id="submit-button" value="Submit" disabled>
  </form>

  <div id="response-ui">
    <p id="response-text" class="robot">Loading...</p>
    <!--Not done yet:
    <button>Good job! :)</button><button>Not quite :(</button>
    -->
  </div>
</div>
