{% if include.type == "license" %}
  <!-- license type -->
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeP_xWwRXoPP03AHFJEIUceQGt89awMcwzrQ0iDCQDetcRdng/viewform?embedded=true" width="500" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% else %}
<!-- contact type -->
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSchWGPWQeFNKtmzjlXsnOZt1p4hVBWB_nSZm4l18IbtG6oTaQ/viewform?embedded=true" width="500" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% endif %}
